/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-neutral-900 font-sans transition-all duration-200;

	&.dark {
		@apply bg-neutral-900 text-white transition-all duration-200;
	}
}
.about-card-swiper img {
	border-radius: 18px;
}

.container {
	max-width: 1520px;
	width: 100%;
}


[x-cloak] {
	display: none;
}

.duration-300 {
	transition-duration: 300ms;
}

.ease-in {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.scale-90 {
	transform: scale(.9);
}

.scale-100 {
	transform: scale(1);
}

/* Footer */
.footer {
	&__box {
		@apply border border-gray-300 py-16 px-16 md:px-20;

		&-title {
			@apply text-gray-900 dark:text-white font-cormorant text-3xl mb-4;
		}

		&-content {
			@apply mb-4 text-sm text-gray-900 font-outfit dark:text-white;
		}

		&-link {
			@apply inline-flex font-bold font-outfit text-sm text-white hover:underline;
		}
	}

	&__social {
		@apply mt-8 flex gap-4;

		svg {
			@apply w-10 h-10 fill-white;
		}
	}

	&__menu {
		@apply grid grid-cols-2 mt-6 md:mt-16 pt-3 max-w-sm ml-auto;
	}
}


.project-block .image,
.project-block .text {
  @apply flex items-start justify-center flex-col;
}

.project-block:nth-of-type(odd) .image {
  @apply col-span-12 md:col-start-7 md:col-end-13 order-1 md:order-2;
}
.project-block:nth-of-type(odd) .text {
  @apply col-span-12 md:col-start-2 md:col-end-6 order-2 md:order-1;
}

.project-block:nth-of-type(even) .image {
  @apply col-span-12 md:col-span-6;
}
.project-block:nth-of-type(even) .text {
  @apply col-span-12 md:col-start-8 md:col-end-13;
}